body {
  margin: 0;
  /* font-family: -apple-system, "Montserrat-Bold","Montserrat-SemiBold", "Montserrat-ExtraBold",sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 15px 40px 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} 

